<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body style="width: 100%; height: 100%; padding: 0; margin: 0;">
    <div class="wrap" style="background: #f6f5f3; padding: 0 2%;">
        <div class="main" style="max-width: 768px; margin: auto; font-family: Tahoma, sans-serif;">
            <div class="main__header" style="padding: 30px 0 20px 0;">
                <div class="main__header-logo" style="text-align: center;">
                    <img src="<% linkToStatic %>/sber-logo.png" alt="" style="width: 172px; height: 43px;" width="172" height="43">
                </div>
            </div>
            <div class="main__content" style="background: #fff; border-radius: 6px;">
                <div class="main__content-image" style="text-align: center;">
                    <img src="<% linkToStatic %>/main.png" alt="" style="width: 100%;">
                </div>
                <div class="main__content-body" style="padding: 7% 5%;">
                    <div class="main__content-title" style="text-align: center; font-size: 24px; padding-bottom: 3%;">Здравствуйте, <% username %>!</div>
                    <div class="main__content-text" style="font-size: 18px;">
                        <p style="line-height: 1.44;">
                            Вы настроили ежемесячный платёж на сайте <a href="http://www.sberbankvmeste.ru" style="color: #2a911f; word-wrap: break-word; text-decoration: none;">sberbankvmeste.ru</a><br>
                        </p>
                        <p style="line-height: 1.44;">
                            Мы очень рады, что Вы присоединились к тем, кто поддерживает благотворительные организации в России!
                        </p>
                        <p style="line-height: 1.44;">
                            В этом месяце мы попытались списать <% amount %> с Вашего счёта, как Вы и настроили это когда-то. Но у нас не получилось сделать это.
                        </p>
                        <p style="line-height: 1.44;">
                            Это молго произойти потому, что срок действия банковской карты истёк или на ней кончлись деньги.<br>Будем благодарны, если Вы проверите, что могло случиться с картой. Мы попробуем сделать списание <% amount %> через месяц.
                        </p>
                        <p style="line-height: 1.44;">
                            Отчёты о Ваших перечислениях Вы можете посмотреть прямо в Сбербанк Вместе
                        </p>
                        <div class="main__button-wrap" style="text-align: center; padding: 30px 0;">
                            <a href="<% linkToHistoryPage %>" style="color: #2a911f; word-wrap: break-word; text-decoration: none;">
                                <span class="main__content-button" style="display: inline-block; width: 198px; height: 44px; line-height: 44px; border-radius: 26px; background-color: #e7f038; font-size: 17px; color: #414141;">Посмотреть отчёты</span>
                            </a>
                        </div>
                        <p style="line-height: 1.44;">
                            Вы всегда можете управлять Вашими пожертвованиями, для этого Вам нужно перейти
                        </p>
                        <div class="main__button-wrap" style="text-align: center; padding: 30px 0;">
                            <a href="<% linkToSberTogether %>" style="color: #2a911f; word-wrap: break-word; text-decoration: none;">
                                <span class="main__content-button" style="display: inline-block; width: 198px; height: 44px; line-height: 44px; border-radius: 26px; background-color: #e7f038; font-size: 17px; color: #414141;">В Сбербанк Вместе</span>
                            </a>
                        </div>
                        <p style="line-height: 1.44;">
                            Надеемся, Вы продолжите Вместе с нами делать благотворительность в России осознанной и прозрачной.
                        </p>
                        <p style="line-height: 1.44;">
                            Спасибо, что Вы с нами!
                        </p>
                        <p style="line-height: 1.44;">
                          С уважением,<br>
                          команда Сбербанк Вместе
                        </p>
                    </div>
                </div>
            </div>
            <div class="main__footer" style="padding-top: 40px; padding-bottom: 30px;">
                <div class="main__footer-text" style="font-size: 12px; color: #a1a1a0;">
                    <p>
                        Убедиться, что сообщение действительно отправлено ПАО Сбербанк и не содержит вредоносных ссылок, Вы можете, позвонив по телефонам ПАО Сбербанк 900 и 8 800 555 55 50.
                    </p>
                    <p>
                        Организатор проекта — ПАО Сбербанк. Генеральная лицензия Банка России № 1481 от 11.08.2015. Организатор площадки — «ФОМ». Реквизиты: полное наименование фирмы (в соответствии с учредительными документами): общество с ограниченной ответственностью «Институт фонда Общественное мнение»; краткое наименование фирмы: ООО «ИНФОМ»; адрес местонахождения: 125047, г. Москва, ул. 4-я Тверская-Ямская, д. 2/11, стр. 1, почтовый адрес: 123022, г. Москва, ул. Рочдельская, д. 15, стр. 16а; телефон:(495) 620-62-32, (495) 620-62-33.
                    </p>
                    <p>
                        ПАО Сбербанк. Генеральная лицензия Банка России № 1481 от 11.08.2015.
                    </p>
                </div>
                <div class="main__footer-logos" style="padding-top: 36px; text-align: center;">
                    <div class="main__footer-logo-sber" style="display: inline-block; margin: 0 5px;">
                        <img src="<% linkToStatic %>/sber-logo.png" alt="" style="max-height: 41px;">
                    </div>
                    <div class="main__footer-logo-mastercard" style="display: inline-block; margin: 0 5px;">
                        <img src="<% linkToStatic %>/master-logo.png" alt="" style="max-height: 41px;">
                    </div>
                </div>
                <div class="main__footer-cancel-subscription" style="padding-top: 25px; text-align: center;">
                    <a class="main__footer-cancel-subscription-link" href="<% cancelSubscriptionLink %>" style="font-size: 14px; color: #a1a1a0;">Отписаться от рассылки</a>
                </div>
            </div>
        </div>
    </div>
</body> 
</html>