<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrap">
        <div class="main">
            <div class="main__header">
                <div class="main__header-logo">
                    <img src="<% linkToStatic %>/sber-logo.png" alt="">
                </div>
            </div>
            <div class="main__content">
                <div class="main__content-image">
                    <img src="<% linkToStatic %>/main.png" alt="">
                </div>
                <div class="main__content-body">
                    <div class="main__content-title">Здравствуйте, <% username %>!</div>
                    <div class="main__content-text">
                        <p>
                            Вы настроили ежемесячный платёж на сайте <a href="http://www.sberbankvmeste.ru">sberbankvmeste.ru</a><br>
                        </p>
                        <p>
                            Мы очень рады, что Вы присоединились к тем, кто поддерживает благотворительные организации в России!
                        </p>
                        <p>
                            Через месяц мы спишем такую же сумму с Вашего счёта, предварительно напомнив об этом письмом на эту почту.
                        </p>
                        <p>
                            Вы всегда можете управлять Вашими пожертвованиями, для этого Вам нужно перейти
                        </p>
                        <div class="main__button-wrap">
                            <a href="<% linkToSberTogether %>">
                                <span class="main__content-button">В Сбербанк Вместе</span>
                            </a>
                        </div>
                        <p>
                            Там Вы можете редактировать сумму или приостановить перечисления, изменить состав получателей Вашего пожертвования.
                        </p>
                        <p>
                            Мы будем присылать Вам отчёты о Ваших перечислениях, также прямо в Сбербанк Вместе Вы можете
                        </p>
                        <div class="main__button-wrap">
                            <a href="<% linkToHistoryPage %>">
                                <span class="main__content-button">Посмотреть отчёты</span>
                            </a>
                        </div>
                        <p>
                            Мы хотим сделать подход к благотворительности осознанным, спасибо, что Вы с нами!
                        </p>
                        <p>
                          С уважением,<br />
                          команда Сбербанк Вместе
                        </p>
                    </div>
                </div>
            </div>
            <div class="main__footer">
                <div class="main__footer-text">
                    <p>
                        Убедиться, что сообщение действительно отправлено ПАО Сбербанк и не содержит вредоносных ссылок, Вы можете, позвонив по телефонам ПАО Сбербанк 900 и 8 800 555 55 50.
                    </p>
                    <p>
                        Организатор проекта — ПАО Сбербанк. Генеральная лицензия Банка России № 1481 от 11.08.2015. Организатор площадки — «ФОМ». Реквизиты: полное наименование фирмы (в соответствии с учредительными документами): общество с ограниченной ответственностью «Институт фонда Общественное мнение»; краткое наименование фирмы: ООО «ИНФОМ»; адрес местонахождения: 125047, г. Москва, ул. 4-я Тверская-Ямская, д. 2/11, стр. 1, почтовый адрес: 123022, г. Москва, ул. Рочдельская, д. 15, стр. 16а; телефон:(495) 620-62-32, (495) 620-62-33.
                    </p>
                    <p>
                        ПАО Сбербанк. Генеральная лицензия Банка России № 1481 от 11.08.2015.
                    </p>
                </div>
                <div class="main__footer-logos">
                    <div class="main__footer-logo-sber">
                        <img src="<% linkToStatic %>/sber-logo.png" alt="">
                    </div>
                    <div class="main__footer-logo-mastercard">
                        <img src="<% linkToStatic %>/master-logo.png" alt="">
                    </div>
                </div>
                <div class="main__footer-cancel-subscription">
                    <a class="main__footer-cancel-subscription-link" href="<% cancelSubscriptionLink %>">Отписаться от рассылки</a>
                </div>
            </div>
        </div>
    </div>
</body> 
</html>